*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/* -----logo------ */
.logo{
    border: 2px solid;
    display: block;
    margin: auto;
}
/* -------background image -------- */
body{
    background: url(../images/background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* --------- Slider part---------- */
.slider img{
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* -------- Menu part--------- */
li{
    display: inline-block;
    position: relative;
    left: 25%;
}
li a{
    color:rgb(0, 0, 0);
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
li :hover{
    color: white;
}
/* ------------Section part --------- */
article{
    height: 88vh;
}
section{
    width: 23.3%;
    border: 1px solid #EF4836;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    float: left;
    background-color: rgba(218, 223, 198, 0.671);
    text-align: center;
}
section img{
    width: 250px;
    height: 150px;
}
section a{
    position: relative;
    left: 100px;
    color: #000 ;
    font-size: 15px;
    background-color: #EF4836;
    border-radius: 5px;
    border: 1px solid transparent;
}
section p{
    text-align: justify;
}
/* ------------footer-------------- */
footer{
    width: 25%;
    height: 100px;   
    position: relative;
    left: 40%;
    top: 40px;
}
footer p{
    font-size: 17px;
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}


